<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
 
  <bean class="com.smk.springassignment1.movie" name="movie1" >
      <property name="moviename">
        <value>KGF</value>
      </property>
      
      <property name="actor">
        <value>Yash</value>
      </property>
      
      <property name="budget">
        <value>11000000</value>
      </property>
  </bean>
 
 </beans>